@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('tweet_bg.jpg');
  background-size: cover;
}
body,
input {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.icon {
  width: 34px;
}
h3 {
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  color: #ffffff;
  margin: 16px 0 40px;
}
form {
  display: flex;
  flex-direction: column;
  width: 600px;
}
input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
  color: #111111;
}
::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
input[type="submit"] {
  padding: 12px 0;
  color: #ffffff;
  background-color: #0b8868;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease-out;
}
input[type="submit"]:hover {
  color: #000000;
  background-color: #eeeeee;
}
.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-size: 16px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 4px;
  padding: 16px;
}
